.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/
/_manuscript

/agujournal2019.cls
/trackchanges.sty
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

**/*.quarto_ipynb

1_data/HSIS Charlotte Data/combined_data/